@model List<Player>

@{
    ViewData["Title"] = "Team Members";
    var teamName = Model.FirstOrDefault()?.Team?.TeamName;
    if (teamName != null)
    {
        ViewData["Title"] = teamName + " Members";
    }
}

<a class="mt-3 mb-0 btn btn-secondary" onclick="javascript:window.history.back();">← Back</a>
<p class="h1 mb-4 text-center">@Model.FirstOrDefault()?.Team?.TeamName's member list</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Player p in Model)
        {
            <tr>
                <td>@p.FirstName @p.LastName</td>
                <td>@p.Age</td>
                <td>@p.Role?.PlayerRoleName</td>
                <td class="text-center">
                    <a asp-controller="Members" asp-action="Edit" asp-route-id="@p.Id">Edit</a><span class="mx-3">|</span>
                    <a asp-controller="Members" asp-action="Kick" asp-route-playerId="@p.Id" asp-route-teamId="@p.TeamId">Kick</a>
                </td>
            </tr>
        }
    </tbody>
</table>
