@model Player

@{
    ViewData["Title"] = "Delete Player";
}

<p class="h1 mt-5 mb-3 text-center">Deleting an existing player</p>

<form class="row gx-4" asp-controller="Players" asp-action="Delete" method="post" enctype="application/x-www-form-urlencoded">
    <p class="h3 col-10">Are you sure you want to delete this player?</p>
    <p class="h3 col-10 mt-1 fw-bold">@Model.FirstName @Model.LastName (Age: @Model.Age), playing for @Model.Team.TeamName as @Model.Role.PlayerRoleName</p>

    <input type="hidden" asp-for="Id" />

    <div class="form-group col-10 mt-4">
        <button type="submit" class="btn btn-primary me-3">Delete</button>
        <a asp-controller="Players" asp-action="List" class="btn btn-secondary">Cancel</a>
    </div>
</form>