@model TournamentViewModel

@{
    ViewData["Title"] = "Adding Tournament";
}

<a class="text-muted mt-3 mb-0 btn btn-lg" onclick="javascript:window.history.back();">← Back</a>
<p class="h1 mb-3 text-center">Add a new tournament</p>

<form class="row gx-4 align-items-center justify-content-center" asp-controller="Tournaments" asp-action="Add" method="post" enctype="application/x-www-form-urlencoded">
    <div class="text-danger col-10 mx-auto" asp-validation-summary="All"></div>

    <div class="row col-10 mx-auto justify-content-center">
        <div class="form-group col-md-3">
            <label asp-for="@Model.Tournament.TournamentName">Tournament Name</label>
            <input type="text" asp-for="@Model.Tournament.TournamentName" class="form-control" />
        </div>

        <div class="form-group col-md-3">
            <label asp-for="@Model.Tournament.TournamentGameId">Tournament Game</label>
            <select asp-for="@Model.Tournament.TournamentGameId" class="form-control">
                <option value="">Please select tournament game</option>
                @foreach (Game g in Model.GamesList)
                {
                    <option value="@g.GameId">@g.GameName</option>
                }
            </select>
        </div>

        <div class="form-group col-md-3">
            <label asp-for="@Model.Tournament.TournamentDate">Tournament Date</label>
            <input type="date" max="@DateTime.Today.ToString("yyyy-MM-dd")" min="@DateTime.Today.AddYears(-200).ToString("yyyy-MM-dd")" asp-for="@Model.Tournament.TournamentDate" class="form-control" />
        </div>

        <div class="form-group col-md-3">
            <label asp-for="@Model.Tournament.Address">Address</label>
            <input type="text" asp-for="@Model.Tournament.Address" class="form-control" />
        </div>
    </div>

    <div class="form-group d-flex flex-column align-items-center my-3">
        <p class="h1 mb-3 text-center">Teams</p>
        @foreach (var team in Model.TeamsList)
        {
            <div class="form-check w-100 text-left">
                <input type="checkbox" class="form-check-input" name="SelectedTeamIds" value="@team.TeamId" />
                <label class="form-check-label">@team.TeamName</label>
            </div>
        }
    </div>

    <div class="form-group col-10 mx-auto mt-4 text-center">
        <button type="submit" class="btn btn-primary me-3">Add</button>
        <a asp-controller="Tournaments" asp-action="List" class="btn btn-secondary">Cancel</a>
    </div>
</form>
